@model Auction.Application.BrandServices.BrandDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">@Model.BrandName Detayları</h3>
    </div> 

    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BrandName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BrandName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BrandUrlName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BrandUrlName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SubCategoryName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SubCategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModifiedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModifiedDate)
            </dd>
        </dl>
        <div>
            <a asp-area="Brand" asp-controller="Brand" asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-sm btn-flat btn-warning">Düzenle</a> |
            <a asp-action="Index">Listeye dön</a>
        </div>
    </div>
</div>


