@model Auction.Application.ProductServices.Dtos.UpdateProductViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">@Model.ProductName Düzenle</h3>
    </div>

    <div class="box-body">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="form-group col-lg-6 col-sm-6">
                            <label asp-for="ProductName" class="control-label"></label>
                            <input asp-for="ProductName" class="form-control" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6">
                            <label asp-for="ProductPrice" class="control-label"></label>
                            <input asp-for="ProductPrice" class="form-control" />
                            <span asp-validation-for="ProductPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6">
                            <label asp-for="ProductBrandId" class="control-label"></label>
                            <select asp-for="ProductBrandId" asp-items="ViewBag.brandDDL" class="form-control"></select>
                            <span asp-validation-for="ProductBrandId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6">
                            <label asp-for="ProductYear" class="control-label"></label>
                            <input asp-for="ProductYear" class="form-control" />
                            <span asp-validation-for="ProductYear" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6">
                            <label asp-for="ProductKm" class="control-label"></label>
                            <input asp-for="ProductKm" class="form-control" />
                            <span asp-validation-for="ProductKm" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6">
                            <label asp-for="ProductMinPrice" class="control-label"></label>
                            <input asp-for="ProductMinPrice" class="form-control" />
                            <span asp-validation-for="ProductMinPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6">
                            <label asp-for="ProductGearType" class="control-label"></label>
                            <input asp-for="ProductGearType" class="form-control" />
                            <span asp-validation-for="ProductGearType" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6">
                            <label asp-for="ProductFuelType" class="control-label"></label>
                            <input asp-for="ProductFuelType" class="form-control" />
                            <span asp-validation-for="ProductFuelType" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6">
                            <label asp-for="ProductCityId" class="control-label"></label>
                            <select asp-for="ProductCityId" asp-items="ViewBag.cityDDL" class="form-control"></select>
                            <span asp-validation-for="ProductCityId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6">
                            <label asp-for="ProductImageUrl" class="control-label"></label>
                            <input asp-for="ProductImageUrl" type="file" name="file" class="form-control" />
                            <span asp-validation-for="ProductImageUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-12 col-sm-12">
                            <label asp-for="ProductDetail" class="control-label"></label>
                            <textarea asp-for="ProductDetail" class="form-control"></textarea>
                            <span asp-validation-for="ProductDetail" class="text-danger"></span>
                        </div>

                    </div>
                    <input asp-for="CreatedById" type="hidden" />
                    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
                    <br />
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Güncelle" class="btn btn-md btn-flat btn-success center-block" />
                            @if (@ViewBag.ReturnUrl != null && @ViewBag.ReturnUrl != string.Empty)
                            {
                                <h4><a href="@ViewBag.ReturnUrl">Geri dön</a></h4>
                            }
                            else
                            {
                                @if (User.IsInRole("Admin"))
                                {
                                    <h4><a asp-action="Index">Geri dön</a></h4>
                                }
                                else
                                {
                                    <h4><a asp-controller="Home" asp-action="Index">Geri dön</a></h4>
                                }

                            }

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
