@model Auction.WebUI.ViewModels.Manage.RoleViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    bool hasError = !string.IsNullOrEmpty(ViewBag.ErrorMessage);
}

@if (!hasError)
{
    <h1 class="text-success">@Model.Name rolü silinebilir.</h1>
    <h3 class="text-success">Bu rolü silmek istetiğinize emin misiniz?</h3>
}
else
{
    <h1 class="text-danger">@Model.Name rolü silinemez! </h1>
    <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
}

<hr />
<div>
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <br />
    <form asp-action="DeleteRole">
        @Html.AntiForgeryToken()
        @if (hasError)
        {
            <input type="submit" value="Sil" class="btn btn-danger" disabled />
        }
        else
        {
            <input type="submit" value="Sil" class="btn btn-danger" />
        }
        | <a asp-action="Roles">Geri Dön</a>
    </form>
</div>