@model IEnumerable<Auction.WebUI.ViewModels.Manage.UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Kullanıcı Listesi</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Kullanıcı</a>
    <a asp-action="Roles" class="btn btn-primary">Rolleri Yönet</a>
</p>
<table id="usersTable" class="table table-bordered ">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>


                <td>
                    <a asp-controller="Manage" asp-action="AssignRole" class="btn btn-sm btn-success" asp-route-id="@item.Id">Rol ata</a>
                    <a asp-controller="Manage" asp-action="RevokeRole" class="btn btn-sm btn-warning" asp-route-id="@item.Id">Rolden çıkar</a>
                    <a asp-controller="Manage" asp-action="UserDetail" class="btn btn-sm btn-info" asp-route-id="@item.Id">Detay</a>
                    <a asp-controller="Manage" asp-action="EditUser" class="btn btn-sm btn-primary" asp-route-id="@item.Id">Düzenle</a>
                    <a asp-controller="Manage" asp-action="DeleteUser" class="btn btn-sm btn-danger" asp-route-id="@item.Id">Sil</a>


                </td>
            </tr>
        }
    </tbody>
</table>