@using Microsoft.AspNetCore.Http.Extensions
@model IEnumerable<Auction.Application.ProductServices.ProductDto>

@{
    var returnUrl = @Context.Request.GetEncodedPathAndQuery();
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-5 col-xs-12 col-lg-4">
            <div class="box box-widget widget-user" style="border:1px solid #d3d3d3">
                <img src="@item.ProductImageUrl" class="img-responsive" style="height:250px"/>

                <div class="box-footer" style="padding-top:5px" id="@item.Id">
                    <p style="text-align:center; font-size:20px">@item.BrandName.ToUpper() &nbsp; <strong style="margin-top:0px; font-weight:bold"> @item.ProductName.ToUpper()</strong></p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="description-block">
                                <span class="description-text" style="font-size:15px">@item.ProductYear</span> &nbsp; &bull; &nbsp;
                                <span class="description-text" style="font-size:15px;">@item.ProductKm</span> &nbsp; &bull; &nbsp;
                                @*<span class="description-text" style="font-size:15px;">99  999</span> &nbsp; &bull; &nbsp;*@
                                <span class="description-text" style="font-size:15px;">@item.CityName</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="description-block">
                                <span class="description-text" style="border:1px solid #cfcfcf; padding:1px 10px; border-radius:20px">@item.ProductFuelType</span>
                                <span class="description-text" style="border:1px solid #cfcfcf; padding:1px 10px; margin-left:5px; border-radius:20px">@item.ProductGearType</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="description-block" style="margin-top:5px">
                                <div class="row">
                                    <div class="col-md-6"><h2 style="margin-top:0px" class="description-text"><p id="countdown" style="margin-bottom:0px">10 50 45</p> <p style="font-size:14px; color:gray">SA &emsp; DK &emsp; SN</p> </h2></div>
                                    <div class="col-md-6"><h2 style="color:lightgreen; margin-top:0px" class="description-text">1000 <p style="font-size:12px; color:gray">TL / AÇILIŞ FIYATI</p> </h2></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" id="incele-@item.Id" style="position:absolute; bottom:0px; padding-bottom:5px; padding-top:5px;
                                                left:0px; display:none; background-color:#000000; opacity:0.7">
                        @*asp-area="Product" asp-controller="Product" asp-action="Details" asp-route-Id="@item.Id" asp-route-returnUrl="@returnUrl"*@
                        <div class="row">
                            <a data-toggle="modal" data-target="@String.Concat("#product_view", item.Id)" class="btn btn-link col-md-6 text-white" style="color:white"><i class="fa fa-search" style="margin-right:5px; color:white"></i>İNCELE</a>

                            <a data-toggle="modal" data-target="" class="btn btn-link col-md-6" style="color:white"><i class="fa fa-gavel" style="margin-right:5px; color:white"></i>ARRTIRMA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade product_view" id="@String.Concat("product_view", item.Id)">
            <div class="modal-dialog" style="width:1000px">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                        <h4 class="modal-title">@item.BrandName @item.ProductName</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 product_img">
                                <img src="@item.ProductImageUrl" class="img-responsive" height="350">
                            </div>
                            <div class="col-md-6 product_content">
                                <h4>Product Id: <span>@item.Id</span></h4>
                                <div class="rating">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    (10 reviews)
                                </div>
                                <p>@item.ProductDetail</p>
                                <h3 class="cost"><span class="glyphicon glyphicon-usd"></span> @item.ProductPrice <small class="pre-cost"><span class="glyphicon glyphicon-usd"></span> @item.ProductMinPrice</small></h3>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <select class="form-control" name="select">
                                            <option value="" selected="">Color</option>
                                            <option value="black">Black</option>
                                            <option value="white">White</option>
                                            <option value="gold">Gold</option>
                                            <option value="rose gold">Rose Gold</option>
                                        </select>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <select class="form-control" name="select">
                                            <option value="">Capacity</option>
                                            <option value="">16GB</option>
                                            <option value="">32GB</option>
                                            <option value="">64GB</option>
                                            <option value="">128GB</option>
                                        </select>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-md-4 col-sm-12">
                                        <select class="form-control" name="select">
                                            <option value="" selected="">QTY</option>
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                        </select>
                                    </div>
                                    <!-- end col -->
                                </div>
                                <div class="space-ten"></div>
                                <hr />
                                <div class="btn-ground">
                                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button>
                                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script src="~/js/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var id;
        $(".box-footer").mouseover(function () {
            id = $(this).attr('id');
            $("#incele-" + id).show();
        });
        $(".box-footer").mouseleave(function () {
            $("#incele-" + id).hide();
        });
    });
</script>
