@model Auction.Application.CategoryServices.Dtos.CategoryDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategori Detay</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryUrlName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryUrlName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<div>
    <a asp-area="Category" asp-controller="Category" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-success btn-sm btn-flat">Düzenle</a> |
    <a asp-action="Index">Back to List</a>
</div>
