@model IEnumerable<Auction.Application.CategoryServices.Dtos.CategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Kategoriler</h3>

        <div class="box-tools pull-right">
            @*<button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
            <a asp-area="Category" asp-controller="Category" asp-action="Create" class="btn btn-xs btn-flat btn-primary">Yeni Kategori</a>
        </div>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table id="CategoryTable" class="table table-bordered table-striped table-responsive text-nowrap">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryUrlName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModifiedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModifiedDate)
                        </th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryUrlName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifiedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifiedDate)
                            </td>
                            <td>
                                <a asp-area="Category" asp-controller="Category" asp-action="Details" asp-route-Id="@item.Id" class="btn btn-xs btn-flat btn-info">Detay</a>
                                <a asp-area="Category" asp-controller="Category" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-xs btn-flat btn-warning">Düzenle</a>
                                <a asp-area="Category" asp-controller="Category" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-xs btn-flat btn-danger">Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>