@model IEnumerable<Auction.WebUI.ViewModels.Manage.RoleViewModel>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">
            Roller
        </h3>

        <div class="box-tools pull-right">
            <a asp-action="CreateRole" class="btn btn-primary btn-flat btn-xs">Yeni Rol Ekle</a>
        </div>
    </div>
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>*@
                    <th class="">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                        <td>
                            <a asp-controller="Manage" asp-action="EditRole" asp-route-id="@item.Id" class="btn btn-sm btn-success btn-xs btn-flat">Düzenle</a>
                            <a asp-controller="Manage" asp-action="RoleDetail" asp-route-id="@item.Id" class="btn btn-sm btn-info btn-xs btn-flat">Detay</a>
                            <a asp-controller="Manage" asp-action="DeleteRole" asp-route-id="@item.Id" class="btn btn-sm btn-danger btn-xs btn-flat">Sil</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <a asp-action="Index">Kullanıcı Listesine Dön</a>
    </div>
</div>