@using System.Globalization
@using Microsoft.AspNetCore.Identity
@using Auction.Domain.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown user user-menu">
        <!-- Menu Toggle Button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">

            <!-- The user image in the navbar-->
            <img src="~/img/avatar5.png" class="user-image" alt="User Image">
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            @*<span class="hidden-xs"> @User.FullName().ToUpperInvariant()</span>*@
            @*<span class="hidden-xs"> @UserManager.GetUserName(User)</span>*@
            @if (@TempData["FullName"] == null)
            {

                <span class="hidden-xs"> @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@User.FullName())</span>
            }
            else
            {
                <span class="hidden-xs"> @TempData["FullName"]</span>
            }



        </a>
        <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
                <img src="~/img/avatar5.png" class="img-circle" alt="User Image">

                @if (@TempData["FullName"] == null)
                {
                    <p>
                        @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@User.FullName())
                        <small> Hoş Geldiniz </small>
                    </p>

                }
                else
                {
                    <p>
                        @TempData["FullName"]
                        <small> Hoş Geldiniz </small>
                    </p>
                }


            </li>
            <!-- Menu Body -->
            <li class="user-body">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#">Friends</a>
                    </div>
                </div>
                <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">

                @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                {
                    <div class="pull-left">
                        <form asp-area="" asp-controller="Admin" asp-action="Index">
                            <button type="submit" class="btn btn-default btn-success">Yönetim</button>
                        </form>
                    </div>
                }

                <div class="pull-right">
                    <form asp-area="" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="btn btn-default btn-warning">Çıkış</button>
                    </form>
                </div>
                <div class="pull-right">
                    <a href="#" class="btn btn-default btn-info">Profil</a>
                </div>
            </li>

        </ul>
    </li>
}
else
{

    <a asp-controller="Account" asp-action="Login" class="btn btn-default btn-flat">Giriş</a>
    <a asp-controller="Account" asp-action="Register" class="btn btn-default btn-flat">Kayıt Ol</a>




    @*<button type="submit" class="btn btn-default btn-flat">Giriş</button>
        <button type="submit" class="btn btn-default btn-flat">Kayıt Ol</button>*@

}